*{
    box-sizing: border-box;
}

body{
    background-color: steelblue;
    font-family: 'Roboto', 'sans-serif';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background: #fff;
}

.fill {
    background-image: url('https://images.unsplash.com/photo-1596047077552-9626b3926a5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
    height: 145px;
    width: 145px;
    background-size: cover;
    cursor: pointer;
}

.hold {
    border: solid 5px #ccc;
}

.hovered {
    background-color: #333;
    border-color: #fff;
    border-style: dashed;
}

@media(max-width: 800px) {
    body {
        flex-direction: column;
    }
}